doctype
html
  head
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Bitter", type="text/css")
    link(rel="stylesheet", href="css/vendor/bootstrap.min.css")
    link(rel="stylesheet", href="css/flat-ui.min.css")
    link(rel="stylesheet", href="css/bootstrap-override.css")
    script(src="js/modernizr.js")
    script(src="js/woopra.js")
  body
    != yield