doctype
html
  head
    link(rel="stylesheet", href="css/bootstrap.min.css")
    link(rel="stylesheet", href="css/bootstrap-responsive.min.css")
    link(rel="stylesheet", href="css/bootstrap-override.css")
    script(src="js/modernizr.js")
    script(src="js/woopra.js")
  body
    != yield