<h4>Originate</h4>
<h5>
  Software Engineer
  <small>June 2010 - October 2011</small>
</h5>
<p>Built and maintained various web-based projects ranging across various technologies and domains, including e-commerce, gaming, and mobile networks. Worked in small, intimate teams with quick turn-over rates.</p>
<p>Responsibilities included estimating with clients, executing on desired features, and delivering a final product.</p>
<hr />