<div id="projects" class="container full-width-container splash-section">
  <div id="projects-preview"></div>
  <div class="container">
    <h3>Projects</h3>

    <ul>

      <li>
        <p>
          <a href="blog/light-organ", target="_blank">light organ</a> - A rythmic lighting device that "dances" to music in realtime.
        </p>
      </li>

      <li>
        <p>
          <a href="http://bitbucket.org/kellydunn/crunchy">crunchy</a> - A software wavetable synthesizer built in Rust.
        </p>
      </li>  
    </ul>
  </div>
</div>