<div class="container">
  <div class="row-fluid">
    <div class="col-xs-10">
      <h1>
        Kelly Dunn
      </h1>
    </div>
    <div id="social" class="col-xs-2">
      <a href="http://github.com/kellydunn" target="_blank"><span class="fui-github spaced-icon"></span></a>
      <a href="http://twitter.com/kellyleland" target="_blank"><span class="fui-twitter spaced-icon"></span></a>
      <a href="http://www.linkedin.com/profile/view?id=52493942" target="_blank"><span class="fui-linkedin spaced-icon"></span></a>
    </div>
  </div>
</div>