<div id ="splash" class="container full-width-container palette-asbestos">
  <%- partial('_splash_header') %>
  <div id="splash-buttons" class="container full-width-container">
    <div class ="row-fluid">
      <div class="col-xs-4">
        <a href="#projects" class="btn btn-block btn-lg btn-transparent">Projects</a>        
      </div>
      <div class="col-xs-4">
        <a href="#music" class="btn btn-block btn-lg btn-transparent">
           Music
        </a>
      </div>
      <div class="col-xs-4">
        <a href="#about" class="btn btn-block btn-lg btn-transparent">About</a>    
      </div>
    </div>
  </div>
</div>
