<%- partial('_header') %>
<div class ="container">
  <p>
    Hello. 
  </p>

  <p>
    My name is Kelly.
  </p>

  <p>
    I am a Seattle-based human who likes building interesting things.
  </p>

  <p>
    You can read my VC <a href="/resume">here</a>, or <a href="assets/resume.pdf">download it</a> 
    if that is your sort of thing.
  </p>
</div>