<h4>Other Experience</h4>
<h5>
  Software Engineer, Teaching Assistant
  <small>August 2008-December 2013</small>
</h5>
<ul>
  <li><strong>Sifteo</strong>: Build web APIs for distributing software and collecting hardware diagnostics.</li>
  <li><strong>Kelly Dunn LLC</strong>: Created web services that enabled musicians to distribute their music online.</li>
  <li><strong>Originate</strong>: Built ecommerce, gaming, taxi hailing, and healthcare web applications.</li>
  <li><strong>University of Washington</strong>: Taught Data Structures, Algorithms, Databases, and Web Development courses.</li>
</ul>
<strong>Technologies:</strong> Go, Ruby, Java, Javascript, C, C++, MySQL, PostgreSQL, Redis, Chef, AWS