<h4>Professional and Freelance Software Contracting</h4>
<h5>
  Software Engineer
  <small>May 2010-December 2011</small>
</h5>
<ul>
  <li>Built web services for clients as a Software Engineer at Originate</li>
  <li>Created web services that enabled musicians to distribute their music as a Software Engineer for Kelly Dunn LLC</li>
</ul>
<strong>Technologies:</strong> Ruby, Java, Javascript, C, C++
<hr/>
