<h4>Software Contracting and Software Education</h4>
<h5>
  Software Engineer
  <small>August 2008-December 2011</small>
</h5>
<ul>
  <li>Built web services for clients as a Software Engineer at Originate</li>
  <li>Created web services that enabled musicians to distribute their music as a Software Engineer at Kelly Dunn LLC</li>
  <li>Taught fundamentals of Computer Science such as Data Structures, Algorithms, Databases, and Web Development at University of Washington</li>
</ul>
<strong>Technologies:</strong> Ruby, Java, Javascript, C, C++, MySQL, Chef, AWS