<h4>
Hello!  
</h4>
<p>
I am a data-driven engineering leader who thrives on cultivating high performance teams.  
I build extensible, observable, and safe systems through open collaboration, automation, and self-service.  
I lead with curiosity, have a deep appreciation for the craft of Software Engineering, and value the trust earned through teamwork.
</p>
<p>
Thank you for your consideration!
</p>