<p>
I am a Professional Software Engineer with a decade of experience in various industries, including Education, Gaming, Music, IOT, Marketing, and Finance.
</p>
<p>
I am Technical Leader focusing on Distributed Systems, Site Reliability, and Scalaiblity.  I thrive in problem spaces that require heightened collaboration, cross-fuctional coordination, and quality of life in the workplace.
</p>