<p>
I am a Professional Software Engineer with a decade of experience in various industries, including Education, Gaming, Music, IOT, Marketing, and Finance.  I am Technical Leader focusing on Distributed Systems, Site Reliability, and Scalablity.
</p>