<p>
I am a Professional Software Engineer with a decade of experience in various industries, like Education, Gaming, Music, IOT, Marketing, and Finance. I have held positions as an Engineer on Frontend, Backend, Infrastructure, Data, and Platform teams.
</p>
<p>
I have built Web Services, ETL pipelines, Media Streaming Services, Third-party Integrations, Open Source Libraries, and CI/CD pipelines.  I have debugged and analyzed low-level performance problems, led 24/7 oncall rotations, and created policies that measurably increased reliability and reduced outages.
</p>
<p>
I have been a Lead Engineer for small engineering teams focusing on Site Reliability Engineering and Distributed Systems. I've provided training, tooling, and mentorship for all levels of engineering. I've also been an active participant in hiring, architectural design, and capacity planning.
</p>