<h4>Kelly Dunn LLC</h4>
<h5>
  Freelance Software Engineer
  <small>October 2011 - Present</small>
</h5>
<p>Freelance Web Development and Software Engineering primarily within the domain of creating audio-visual utilities and web services that enabled musicians to distribute their music across the web. Some experimental work with control interfaces, specifically with MIDI controllers.</p>
<hr />