<h4>Kelly Dunn LLC</h4>
<h5>
  Freelance Software Engineer
  <small>October 2011 - Present</small>
</h5>
<p>Creating web services that enabled musicians to distribute their music across the web.</p>
<hr />