<h4>Kelly Dunn LLC</h4>
<h5>
  Freelance Software Engineer
  <small>October 2011 - Present</small>
</h5>
<ul>
  <li>
    Created web services that enabled musicians to distribute and manage their licensing of their music.
  </li>
  <li>
    Created interactive media and MIDI control devices.
  </li>
</ul>
<strong>Technologies:</strong> Ruby, Javascript, C, C++
<hr />