<h4>Originate</h4>
<h5>
  Software Engineer
  <small>June 2010 - October 2011</small>
</h5>
<p>Built and maintained web services ranging across various technologies and domains, including e-commerce, gaming, and mobile networks.</p>
<strong>Technologies:</strong> Ruby, Javascript, Java
<hr />