<h4>Sifteo </h4>
<h5>
  Software Engineer 
  <small>December 2011 - July 2013</small>
</h5>
<p>Designed, developed, and maintained all web services for Sifteo Inc. Including:</p>
<ul>
  <li>A Game Publishing Service, which authenticated over 10,000 purchases of dozens of Sifteo games.</li>
  <li>An API Service that enabled over 3,000 users to purchase and download games through Sifteo's desktop software, Sifteo Sync.</li>
  <li>A Factory Auditing Service, which collected and reported on quality assurance data on over 300,000 Sifteo products created at Sifteo's manufacturing center in China.</li>
</ul>
<p>Lead measures to improve web development, such as cultivating portable virtualized environments, automating deployments, and providing continuous integration for multiple web services.</p>
<p>Created modern, rich-media experiences on contstrained machines with QT webkit, Javascript, and HTML5 technologies.</p>
<p>Developed an OSC client implementation that enabled Sifteo Cubes to communicate with Digitial Audio Workstations and other OSC enabled devices.</p>
<hr />