<h4>Sifteo
</h4>
<h5>
  Software Engineer
  <small>December 2011 - July 2013</small>  
</h5>
<ul>
  <li>Created an online Game Marketplace, which serviced tens of thousands of Sifteo Game purchases and downloads.</li>
  <li>Created an Auditing Service, which collected Quality Assurance data on over 300,000 Sifteo Products created overseas.</li>
</ul>
<strong>Technologies:</strong> Ruby, Javascript, C++, C#, PostgreSQL, Redis
<hr/>