<h4>Sifteo</h4>
<h5>
  Software Engineer
  <small>December 2011 - July 2013</small>  
</h5>
<ul>
  <li>Created an online game marketplace serving tens of thousands of Sifteo game purchases and downloads.</li>
  <li>Created a hardware auditing API, which collected hardware diagnostics on over 300,000 Sifteo products.</li>
</ul>
<strong>Technologies:</strong> Ruby, Javascript, C++, C#, PostgreSQL, Redis
<hr/>