<h4>Sifteo
</h4>
<h5>
  Software Engineer
  <small>December 2011 - July 2013</small>  
</h5>
<p>Designed, developed, and maintained all web services for Sifteo Inc. Including:</p>
<ul>
  <li>A Game Publishing Service, which authenticated over 10,000 digital purchases of Sifteo games.</li>
  <li>A Web Service that enabled over 3,000 users to purchase and download games through Sifteo's desktop software.</li>
  <li>A Factory Auditing Service, which collected Quality Assurance data on over 300,000 Sifteo Products created overseas.</li>
</ul>
<hr/>