<h4>Simply Measured</h4>
<h5>
  Software Engineer
  <small>October 2013 - Present</small>
</h5>
<p>Developed and designed back-end platform services, Including:</p>
<ul>
  <li>An Account Service that decoupled user-related business logic from the front-end app and Salesforce APIs.  The service managed over 50,000 user subscription records as well as decreased response time of the application by over 50% on average, from two seconds to less than a second.</li>
  <li>An Event Publication Service, which enabled Simply Measured's first third-party partnership with Shift Marketing Cloud.  The service provided a generic interface for messaging across our platform, which enabled other core services to communicate in a scalable and isolated manner.</li>
</ul>
<p>Created an internal development tool that improved the efficiency of product development by extracting and transforming data in our HBase clusters to local development formats, a process that would normally take weeks was reduced to a UNIX command line that could be executed in seconds.</p>
<p>Profiled and monitored queue workers that were critical to our data acquisition platform.  Identified and fixed memory leaks such that worker boxes were able to stay running in perpetuity instead of thrashing after 6 hours under normal load.</p>
<p>Migrated billions of rows of Facebook and Youtube data with the Map Reduce Framework, which increased the quality of product by sanitizing data and providing on average 2% more data visibility.</p>
<hr />
