<h4>Simple </h4>
<h5>
  Senior Software Engineer 
  <small>July 2015 - present</small>
</h5>
<p>Building backend web services at scale in Ruby, Java, Scala, and Go.</p>
<ul>
  <li>Created a document storage and ID verification service that improved Customer Support efficiency while onboarding new customers, effectivly reducing onboarding time from 5 days to 1 day.
  </li>
</ul>
<hr />