<h4>Simple</h4>
<h5>
  Sr. Software Engineer - Platform Engineering
  <small>July 2015 - August 2018</small>  
</h5>
<ul>
  <li>
    Built product applications and infrastructure services on Kubernetes.
  </li>
  <li>
    Improved Mean Time to Recovery from days to hours, and decreased the number of outages per month by 60%.
  </li>
</ul>

<strong>Technologies:</strong> Go, Ruby, Scala, Kafka, PostgreSQL, AWS, Terraform, Kubernetes, Datadog, Prometheus, Grafana
<hr/>