<h4>Simple</h4>
<h5>
  Lead Engineer - SRE / Platform Engineering
  <small>July 2016 - Present</small>  
</h5>
<ul>
  <li>
    Improved Mean Time to Recovery by 50%, and decreased the number of Outages per day by 60% in six months.
  </li>
</ul>

<h5>
  Senior Software Engineer
  <small>July 2015 - July 2016</small>
</h5>
<ul>
  <li>
    Built and maintained backend web services.
  </li>
</ul>

<strong>Technologies:</strong> Ruby, Go, Java, Scala, Kafka, PostgreSQL, SQS, DynamoDB, AWS, Terraform, Docker, Kubernetes
<hr/>