<h4>Simply Measured</h4>
<h5>
  Software Engineer - Data
  <small>November 2014 - June 2015</small>  
</h5>
<ul>
  <li>Created Map Reduce jobs that normalized billions of rows of Facebook and Youtube data.  Recalimed 40 Million Rows (~2% of our total data set) that were previously determined lost due to partner outages and legacy design implications.</li>
  <li>Identified and fixed memory leaks in mission critical worker processes.  This enabled our larger jobs to run without issue, resolved nightly pages, and enabled us to scale down from 20 workers to 5 (75% efficiency increase).</li>
</ul>
<h5>
  Software Engineer - Product
  <small>October 2013 - June 2015</small>
</h5>
<ul>
  <li>Decoupled SimplyMeasured's web product from the Salesforce CRM, normalizing and providing visibility to 50,000 accounts, and decreased response time of the product by 50%, from two seconds to less than a second.</li>
  <li>Created a Messaging Service, which enabled Simply Measured's first third-party partnership with Shift Marketing Cloud.</li>
 </ul>
<hr/>
