<h4>Simply Measured</h4>
<h5>
  Software Engineer - Product / Data
  <small>October 2013 - June 2015</small>  
</h5>
<ul>
  <li>
    Created Map Reduce jobs that normalized billions of rows of Facebook and Youtube data.
  </li>
  <li>
    Identified and fixed memory leaks in mission critical worker processes.
  </li>
  <li>
    Created supporting web services that decoupled SimplyMeasured's web product from the Salesforce CRM.
  </li>
</ul>

<strong>Technologies:</strong> Ruby, Go, Java, RabbitMQ, MySQL, HBase, Memcache
<hr/>
