<h4>Simply Measured</h4>
<h5>
  Software Engineer - Product and Data Engineering
  <small>October 2013 - June 2015</small>  
</h5>
<ul>
  <li>
    Built MapReduce jobs that normalized billions of rows of Facebook and Youtube data.
  </li>
  <li>
    Optimized data ingestion workers, improving performance, reliability, and decreasing operational burden.
  </li>
</ul>

<strong>Technologies:</strong> Go, Ruby, Java, RabbitMQ, MySQL, Hadoop, Memcache
<hr/>
