<h4>Simple</h4>
<h5>
  Sr. Software Engineer // Technical Lead - SRE + Platform
  <small>July 2015 - August 2018</small>  
</h5>
<ul>
  <li>
    Improved Mean Time to Recovery by 50%, and decreased the number of Outages per day by 60% in six months.
  </li>
  <li>
    Upgraded applications, CI/CD, and monitoring systems to Kubernetes workloads.  Reduced infrastructure costs by 8x, and deployment times 3x. 
  </li>
</ul>

<strong>Technologies:</strong> Ruby, Go, Java, Scala, Kafka, PostgreSQL, SQS, DynamoDB, Terraform, Docker, Kubernetes, Datadog
<hr/>