<h4>Splice</h4>
<h5>
  Sr. Engineering Manager - Infrastructure
  <small>March 2023 - Present</small>  
</h5>
<ul>
  <li>Leading the Data Engineering, Security Engineering, and Site Reliability Engineering teams (10 FTEs).</li>
  <li>Drove EBIT from -12% to +2% through multiple consolidation and performance initiatives.</li>
  <li>Drove cross functional efforts to standardize golden paths for core infrastructure across Data, Security, and SRE.</li>
  <li>Coached and mentored an Individual Contributor into a Management role.</li>
</ul>
<h5>
  Engineering Manager - SRE
  <small>December 2020 - March 2023</small>
</h5>
<ul>
  <li>Ownership of cloud infrastructure, CI/CD, compute platform, databases, observability platform, and edge networks.</li>
  <li>Delivered a framework for provisioning on-demand compute, enabling test suites to run in minutes instead of hours.</li>
  <li>Drove down toil by consolidating IAM, KMS, VPC networks, and integrating platform access to an IDP.</li>
</ul>
<h5>
  Staff Engineer
  <small>January 2020 - December 2020</small>
</h5>
<ul>
  <li>
    Built a platform that enabled developers to self-service provision containers with baked in observability, blue/green auto-deploys, autoscaling, and ensured a baseline of security standards across all APIs.
  </li>
  <li>
    Bootstrapped and progressively iterated on an Incident Response system.
  </li>
</ul>
<h5>
  Sr. Software Engineer
  <small>October 2018 - December 2019</small>  
</h5>
<ul>
  <li>
    Reduced p99 search latencies from 1sec+ to &lt;100ms by identifying and remediating performance bottlenecks.
  </li>
</ul>

<strong>Technologies:</strong> Go, Python, MySQL, ElasticSearch, Terraform, AWS, BigQuery, Docker, Datadog
<hr/>