<h4>University of Washington</h4>
<h5>
  Teaching Assistant
  <small>August 2008 - August 2010</small>
</h5>
<p>Taught fundamentals of Computer Science such as Data Structures, Algorithms, Databases, and Web Development.</p>