<h4>University of Washington</h4>
  <h5>
    Teaching Assistant
    <small>August 2008 - August 2010</small>
  </h5>
<p>Instructed undergraduates in the following areas of Computer Science:</p>
<ul>
  <li>Syntax / Control Structures</li>
  <li>Data Structures / Runtime Analysis</li>
  <li>Object Oriented Programming</li>
  <li>Web Development</li>
  <li>MVC / Data Abstraction</li>
  <li>Databases</li>
</ul>
<p>I also held weekly office hours, bi-weekly courses, and graded programming assignments and tests.</p>