<%- partial('_header') %>
<div class = "container">
  <h2><a href="https://free-couch.bandcamp.com">Free Couch</a></h2>
  <p>
    An experiment in producing a track a day for 30 days.  All tracks were a single-take recording with minimal editing and production.  Featuring Electric Bass, Eurorack Modular Synthesizers, Mutable Instrument's Ambika, Elektron Rythm, and MXR Talkbox.
  </p>
</div>