html, body { 
    overflow: hidden; 
    height: 100% 
}

#main {
    z-index: 0;
    background-color: rgba(0,0,0,0.8);
    padding: 20px;
    position: relative;
    top:100px;
}

.center {
    text-align: center;
}

.white {
    color: white;
}

#bg {
    z-index: -1;
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #444;
}

#avatar {
    position: absolute;
}

#links {
    position: absolute;
}